@{
    ViewBag.Title = "Index";
}

@section JavaScriptHeader
{
    <link rel="stylesheet" type="text/css" href="~/Content/googlemap.css">
    <script type="text/javascript" src="@Url.Content("~/Scripts/maptest/mapsearchtest.js")"></script>

}

@section JavaScriptFooter
{
    <script type="text/javascript">

        document.getElementById("para").innerHTML += "script in body. ";
    </script>
}

<h2>Index</h2>

<div class="row">

    <div class="col-sm-7">
@using (Html.BeginForm("Index", "ParkingSpots", FormMethod.Get, new {style="display: block; width: 100%", onsubmit = "updatehiddenlatlng();" }))
{
    <input type="hidden" name="lat" id="lat" value="@ViewBag.lastLat" />
    <input type="hidden" name="lng" id="lng" value="@ViewBag.lastLng" />
    <input type="submit" value="searchspot" class="btn btn-primary btn-sm" style="display: block; width: 100%;" />
}
        @*
        @Html.ActionLink("Create A New Invoice", "Index", "ParkingSpots", null,
        new { @class = "btn btn-primary btn-sm", @style="display: block; width: 100%;",
            @id = "testhelper", @onclick = "searchparking()" })


        <script type="text/javascript">
            function searchparking() {
                var link = document.getElementById("testhelper");
                var basehref = link.getAttribute("href");
                link.setAttribute("href", basehref + "?lat=43.464460&lng=-80.522552");
                console.log(link.getAttribute("href"));

                return confirm('Are you sure?');
            };
        </script>
            *@

            <input id="pac-input" class="controls" type="text" placeholder="Search Box">


        <div id="map-canvas"></div>

    </div>



    <div class="col-sm-5">
        <div id="para">Hello. </div>

        <div id="debugParkingList">Debug Parking List: </div>

        <script>
            var currentdate = new Date();
            var datetime = "Last Sync: "
                            + currentdate.getHours() + ":"
                            + currentdate.getMinutes() + ":"
                            + currentdate.getSeconds();
            document.getElementById("debugParkingList").innerHTML += ("<br>" + datetime);
        </script>


        <table class="table table-hover">
            <tr id="parking3">
                <td>icon</td>
                <td>name</td>
                <td>address</td>
                <td>description</td>
            </tr>
            <tr class="danger">
                <td>
                    icon
                </td>
                <td>name</td>
                <td>address</td>
                <td>description</td>
            </tr>
        </table>

    </div>

</div>
