#body{
    overflow-y: auto;
}

.modal {
 overflow-y: auto;
}

.modal-open {
 overflow: auto;
}

.modal-body {
  max-height:400px;
  overflow:auto;
}

#map-canvas {
    height: 350px;
    width: 100%;
    background: transparent url(images/loading.GIF) no-repeat center center;
}




.controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        
      }


#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

    #pac-input:focus {
        border-color: #4d90fe;
    }

.hoverhand{
    cursor: pointer;
}


.form-action{
    margin: 0;
    background-color: transparent;
    text-align: center;
    display: block; 
    width: 100%;
}


#map-container {
    background: #fff url(/images/loading.GIF) no-repeat center center; 
}

