@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Did you ever have difficulty finding a parking space? Then Park share might be the 
    solution for you and million others. You see, I'm the tech person, so I'm not good 
    at coming up with fluff. Please, my co-founder: plase supply me with good Engrish. </p>
