@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    666 Egg Drive <br />
    Buffet, ON 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:miaomiao@example.com">NotMyEmail@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Needajob@example.com">NeitherIsThis@example.com</a>
</address>